.about-section {
    padding:50px 0px;
    background-image: url('../images/lines.png'); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    height: 100%;
  }
  
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 250px;
    padding-top: 100px;
    padding-left: 0px;
  }
  
  .about-text {
    flex: 1;
  }
  
  .about-title {
    font-size: 40px;
    font-weight: bold;
    color: #165956;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
    display: inline-block;
    position: relative; /* Add this */
  }
  
  .about-title::after {
    content: "";
    position: absolute;
    right: 0; /* Align the line with the end of the text */
    bottom: -7px; /* Space between text and the line */
    width: 46%; /* Adjust line length */
    height: 2px; /* Line thickness */
    background-color: #165956;
  }
  
  
  .about-subtitle {
    font-size: 25px;
    margin-bottom: 10px;
    color: #124846;
  }
  
  .about-description {
    font-size: 25px;
    margin-bottom: 35px;
    color: #124846;
  }
  
  .about-button {
    font-size: 20px;
    color: white;
    background-color: #165956;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .about-button:hover {
    background-color: #0f3e3d;
  }
  
  .about-image {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.subtract-image {
    position: absolute;
    z-index: 1; /* Behind the photo */
    height: auto;
    width: 350px;
    max-width: 450px;
    transform: translateY(1%); 
    transform: translateX(20%);/* Adjusts vertical position */
    

}

.about-photo {
    position: relative;
    z-index: 2; /* In front of the subtract image */
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateX(-20%);
    transform: translateY(1%);
    
}
@media screen  and (min-width: 1500px) and (max-width: 2905px){ 
  .about-section {
    padding:50px 0px;
    background-image: url('../images/lines.png'); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    height: 100%;
  }
  
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 250px;
    padding-top: 100px;
    padding-left: 0px;
  }
  
  .about-text {
    flex: 1;
  }
  
  .about-title {
    font-size: 40px;
    font-weight: bold;
    color: #165956;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
    display: inline-block;
    position: relative; /* Add this */
  }
  
  .about-title::after {
    content: "";
    position: absolute;
    right: 0; /* Align the line with the end of the text */
    bottom: -7px; /* Space between text and the line */
    width: 46%; /* Adjust line length */
    height: 3px; /* Line thickness */
    background-color: #165956;
  }
  
  
  .about-subtitle {
    font-size: 25px;
    margin-bottom: 10px;
    color: #124846;
  }
  
  .about-description {
    font-size: 25px;
    margin-bottom: 35px;
    color: #124846;
  }
  
  .about-button {
    font-size: 20px;
    color: white;
    background-color: #165956;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .about-button:hover {
    background-color: #0f3e3d;
  }
  
  .about-image {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width: 350px;
    max-width: 450px;
    transform: translateY(1%); 
    transform: translateX(20%);
}

.about-photo {
    position: relative;
    z-index: 2; /* In front of the subtract image */
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateX(-20%);
    transform: translateY(1%);  
}
#experience {
  scroll-margin-top: 190px;
}

#services {
  scroll-margin-top: 260px;
}

#about {
  scroll-margin-top: 150px;
}

#footer {
  scroll-margin-top: 150px;
}}

@media screen  and (min-width: 1200px) and (max-width: 1500px){ 
  .about-section {
    padding:50px 0px;
    background-image: url('../images/lines.png'); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    height: 100%;
  }
  
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 250px;
    padding-top: 100px;
    padding-left: 0px;
  }
  
  .about-text {
    flex: 1;
  }
  
  .about-title {
    font-size: 40px;
    font-weight: bold;
    color: #165956;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
    display: inline-block;
    position: relative; /* Add this */
  }
  
  .about-title::after {
    content: "";
    position: absolute;
    right: 0; /* Align the line with the end of the text */
    bottom: -7px; /* Space between text and the line */
    width: 46%; /* Adjust line length */
    height: 3px; /* Line thickness */
    background-color: #165956;
  }
  
  
  .about-subtitle {
    font-size: 25px;
    margin-bottom: 10px;
    color: #124846;
  }
  
  .about-description {
    font-size: 25px;
    margin-bottom: 35px;
    color: #124846;
  }
  
  .about-button {
    font-size: 20px;
    color: white;
    background-color: #165956;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .about-button:hover {
    background-color: #0f3e3d;
  }
  
  .about-image {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width: 350px;
    max-width: 450px;
    transform: translateY(1%); 
    transform: translateX(20%);
}

.about-photo {
    position: relative;
    z-index: 2; /* In front of the subtract image */
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateX(-20%);
    transform: translateY(1%);  }

    #experience {
      scroll-margin-top: 190px;
    }
    
    #services {
      scroll-margin-top: 260px;
    }
    
    #about {
      scroll-margin-top: 150px;
    }
    
    #footer {
      scroll-margin-top: 150px;
    }}

@media screen  and (min-width: 1150px) and (max-width: 1200px){ 
  .about-image {
    flex: 0.6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width: 340px;
    max-width: 440px;
    transform: translateY(1%); 
    transform: translateX(20%);
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

#experience {
  scroll-margin-top: 150px;
}

#services {
  scroll-margin-top: 260px;
}

#about {
  scroll-margin-top: 150px;
}

#footer {
  scroll-margin-top: 150px;
}
}
@media screen  and (min-width: 1090px) and (max-width: 1150px){ 
  .about-image {
    flex: 0.6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width: 320px;
    max-width: 420px;
    transform: translateY(1%); 
    transform: translateX(20%);
}
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #experience {
    scroll-margin-top: 150px;
  }
  
  #services {
    scroll-margin-top: 260px;
  }
  
  #about {
    scroll-margin-top: 150px;
  }
  
  #footer {
    scroll-margin-top: 150px;}
}
@media screen  and (min-width: 1000px) and (max-width: 1090px){ 
  .about-image {
    flex: 0.6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width: 300px;
    max-width: 400px;
    transform: translateY(1%); 
    transform: translateX(20%);
}
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #experience {
    scroll-margin-top: 170px;
  }
  
  #services {
    scroll-margin-top: 260px;
  }
  
  #about {
    scroll-margin-top: 150px;
  }
  
  #footer {
    scroll-margin-top: 150px;}
}
@media screen and (min-width: 650px) and (max-width: 1000px) {
  .about-section {
    padding: 50px 0;
    background-image: url('../images/lines.png'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 900px;
  }

  .about-title {
    font-size: 35px;
    font-weight: bold;
    color: #165956;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
  }

  .about-title::after {
    content: "";
    position: absolute;
    left: 10;
    bottom: -10px;
    width: 46%;
    height: 3px;
    background-color: #165956;
  }

  .about-subtitle,
  .about-description {
    font-size: 20px;
    color: #124846;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 1000px;
  }

  .about-button {
    display: none;
  }
  .about-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
  }

  .subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width: 350px;
    max-width: 450px;
    transform: translateY(1%); 
    transform: translateX(20%);
}
#experience {
  scroll-margin-top: 50px;
}

#services {
  scroll-margin-top: 260px;
}

#about {
  scroll-margin-top: 10px;
}

#footer {
  scroll-margin-top: 120px;}
}

@media screen and (min-width: 472px) and (max-width: 650px) {
  .about-section {
    padding: 50px 0;
    background-image: url('../images/lines.png'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 900px;
  }

  .about-title {
    font-size: 30px;
    font-weight: bold;
    color: #165956;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
  }

  .about-title::after {
    content: "";
    position: absolute;
    left: 10;
    bottom: -10px;
    width: 46%;
    height: 3px;
    background-color: #165956;
  }

  .about-subtitle,
  .about-description {
    font-size: 20px;
    color: #124846;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .about-button {
    display: none;
  }
  .about-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 350px;
  }

  .subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width: 300px;
    max-width: 450px;
    transform: translateY(1%); 
    transform: translateX(20%);
}
#experience {
  scroll-margin-top: 50px;
}

#services {
  scroll-margin-top: 260px;
}

#about {
  scroll-margin-top: 10px;
}

#footer {
  scroll-margin-top: 120px;}
}

@media screen and (min-width: 403px) and (max-width: 472px) {
  .about-section {
    padding: 50px 0;
    background-image: url('../images/lines.png'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 900px;
  }

  .about-title {
    font-size: 25px;
    font-weight: bold;
    color: #165956;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
  }

  .about-title::after {
    content: "";
    position: absolute;
    left: 10;
    bottom: -10px;
    width: 46%;
    height: 3px;
    background-color: #165956;
  }

  .about-subtitle,
  .about-description {
    font-size: 20px;
    color: #124846;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .about-button {
    display: none;
  }
  .about-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 260px;
  }

  .subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width: 220px;
    max-width: 350px;
    transform: translateY(1%); 
    transform: translateX(20%);
}
#experience {
  scroll-margin-top: 50px;
}

#services {
  scroll-margin-top: 260px;
}

#about {
  scroll-margin-top: 10px;
}

#footer {
  scroll-margin-top: 100px;
}

}
@media screen and (min-width: 340px) and (max-width: 403px) {
  .about-section {
    padding: 50px 0;
    background-image: url('../images/lines.png'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 900px;
  }

  .about-title {
    font-size: 20px;
    font-weight: bold;
    color: #165956;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
  }

  .about-title::after {
    content: "";
    position: absolute;
    left: 10;
    bottom: -10px;
    width: 46%;
    height: 3px;
    background-color: #165956;
  }

  .about-subtitle,
  .about-description {
    font-size: 15px;
    color: #124846;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .about-button {
    display: none;
  }
  .about-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 240px;
  }

  .subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width:200px;
    max-width: 350px;
    transform: translateY(1%); 
    transform: translateX(20%);
}#experience {
  scroll-margin-top: 50px;
}

#services {
  scroll-margin-top: 260px;
}

#about {
  scroll-margin-top: 10px;
}

#footer {
  scroll-margin-top: 120px;}

}
@media screen and (min-width: 280px) and (max-width: 340px) {
  .about-section {
    padding: 50px 0;
    background-image: url('../images/lines.png'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 900px;
  }

  .about-title {
    font-size: 20px;
    font-weight: bold;
    color: #165956;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
  }

  .about-title::after {
    content: "";
    position: absolute;
    left: 10;
    bottom: -10px;
    width: 46%;
    height: 3px;
    background-color: #165956;
  }

  .about-subtitle,
  .about-description {
    font-size: 15px;
    color: #124846;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .about-button {
    display: none;
  }
  .about-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 230px;
  }

  .subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width:200px;
    max-width: 350px;
    transform: translateY(1%); 
    transform: translateX(20%);
}
#experience {
  scroll-margin-top: 50px;
}

#services {
  scroll-margin-top: 260px;
}

#about {
  scroll-margin-top: 10px;
}

#footer {
  scroll-margin-top: 120px;}

}
@media screen and (min-width: 20px) and (max-width: 280px) {
  .about-section {
    padding: 50px 0;
    background-image: url('../images/lines.png'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 900px;
  }

  .about-title {
    font-size: 15px;
    font-weight: bold;
    color: #165956;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
  }

  .about-title::after {
    display: none;
  }

  .about-subtitle,
  .about-description {
    font-size: 12px;
    color: #124846;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .about-button {
    display: none;
  }
  .about-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 200px;
  }

  .subtract-image {
    position: absolute;
    z-index: 1; 
    height: auto;
    width:167px;
    max-width: 350px;
    transform: translateY(1%); 
    transform: translateX(20%);
}
}