
.experience-section {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
    padding-left: 0px;
    font-family: "Raleway", sans-serif;;
}

.experience-image {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtract2-image {
    position: absolute;
    z-index: 1; /* Behind the photo */
    width: 120%;
    height: auto;
    width: 350px;
    max-width: 450px;
    transform: translateY(30px); 
    transform: translateX(-32.5%); 
}

.experience-photo {
    position: relative;
    z-index: 2; /* In front of the subtract image */
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-51px); 
    transform: translateX(-10%); 
    
}

.experience-text {
    flex: 1;
    padding-left: 60px;
}

.experience-title {
    font-size: 40px;
    font-weight: bold;
    color: #165956;
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 33px;
    position: relative;
}

.experience-list {
    font-size: 25px;
    color: #124846;
    list-style: none;
    padding: 0;
}

.experience-list li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 35px; /* Add padding for the arrow space */
}

.experience-list li::before {
    content: "›"; /* Arrow symbol (you can use other symbols or Unicode) */
    font-size: 30px;
    font-weight: bold;
    color: #165956; /* Match your design color */
    position: absolute;
    left: 0;
    top: -4%;
}


.experience-title::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -7px;
    width: 30%;
    height: 2px;
    background-color: #165956;
}
.experience-item-title {
    font-size: 22px; /* Larger size for the first line */
    font-weight: bold; 
    color: #165956;/* Optional: Make it bold */
  }
  @media screen  and (min-width: 1000px) and (max-width: 1116px){ 
    .experience-image {
        flex: 0.6;
    }
    
    .subtract2-image {
        width: 280px;
        max-width: 350px;
        transform: translateY(30px); 
        transform: translateX(-23.5%); 
    }
    
    .experience-photo {
        max-width: 380px;
        transform: translateY(-51px); 
        transform: translateX(-1%); 
    } 
    }@media screen and (min-width: 890px) and (max-width: 1000px) {
        .experience-section {
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
        }
    
        .experience-container {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
            gap: 30px;
            padding-bottom: 50px;
            padding-left: 50px;
            font-family: "Raleway", sans-serif;
            width: 100%; /* Ensure the container takes full width */
        }

        .experience-image {
            flex: 1;
            position: relative;
            display: flex;
            justify-content: center; /* Center the image horizontally */
            align-items: center; /* Center the image vertically */
            text-align: center;
            order: 2; 
            margin-top: 50px;
            width: 100%; /* Ensure the image container takes full width */
        }
        .subtract2-image {
            position: absolute;
            z-index: 1; /* Behind the photo */
            width: 120%;
            height: auto;
            width: 340px;
            max-width: 450px;
            transform: translateY(30px); 
            transform: translateX(-32.5%); 
        }
        .experience-photo {
            position: relative;
            z-index: 2; 
            width: 100%;
            max-width: 380px;
            height: auto;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transform: translateY(-51px); 
            transform: translateX(-10%); 
        }
        .experience-text {
            flex: 1;
            padding-left: 30px;
            padding-right: 30PX; /* Adjust padding for better alignment */
            text-align: left; /* Align text to the left */
            order: 1; /* Text comes before image */
            width: 100%; /* Ensure the text container takes full width */
        }
    
        .experience-title {
            font-size: 35px;
            font-weight: bold;
            color: #165956;
            margin-bottom: 15px;
            display: inline-block;
            padding-left: 0; /* Adjust padding for better alignment */
            position: relative;
        }
    
        .experience-list {
            font-size: 20px;
            color: #124846;
            list-style: none;
            padding: 0;
        }
        .experience-list li {
            margin-bottom: 20px;
            position: relative;
            padding-left: 35px; /* Add padding for the arrow space */
        }
    
        .experience-list li::before {
            content: "›"; /* Arrow symbol (you can use other symbols or Unicode) */
            font-size: 30px;
            font-weight: bold;
            color: #165956; /* Match your design color */
            position: absolute;
            left: 0;
            top: -4%;
        }
    
        .experience-title::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -7px;
            width: 33%;
            height: 3px;
            background-color: #165956;
        }
    
        .experience-item-title {
            font-size: 20px; /* Larger size for the first line */
            font-weight: bold; 
            color: #165956;/* Optional: Make it bold */
        }
      
    }
    @media screen and (min-width: 650px) and (max-width: 890px) {
        .experience-section {
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
        }
    
        .experience-container {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
            gap: 30px;
            padding-bottom: 50px;
            padding-left: 0px;
            font-family: "Raleway", sans-serif;
            width: 100%; /* Ensure the container takes full width */
        }
        .experience-image {
            flex: 1;
            position: relative;
            display: flex;
            justify-content: center; /* Center the image horizontally */
            align-items: center; /* Center the image vertically */
            text-align: center;
            order: 2; 
            padding-left: 30px;
            margin-top: 50px;
            width: 100%; /* Ensure the image container takes full width */
        }
        .experience-title::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -7px;
            width: 33%;
            height: 3px;
            background-color: #165956;
        }
        .subtract2-image {
            height: auto;
            width: 340px;
            max-width: 450px;
            transform: translateY(30px); 
            transform: translateX(-32.5%); 
        }
        .experience-list {
            font-size: 20px;
            color: #124846;
            list-style: none;
            padding: 0;
        }
    
        .experience-photo {
            position: relative;
            z-index: 2; 
            width: 100%;
            max-width: 390px;
            height: auto;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transform: translateY(-51px); 
            transform: translateX(-10%); 
        }
    
        .experience-text {
            padding-left: 30px; 
            padding-right: 20PX;
        }
        .experience-title {
            font-size: 35px;
            padding-left: 0px;
            margin-left: 0px;
        }
        .experience-item-title {
            font-size: 20px; /* Larger size for the first line */
        }
    }
    @media screen and (min-width: 470px) and (max-width: 650px) {
        .experience-section {
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
        }
    
        .experience-container {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
            gap: 30px;
            padding-bottom: 50px;
            padding-left: 0px;
            font-family: "Raleway", sans-serif;
            width: 100%; /* Ensure the container takes full width */
        }
        .experience-image {
            flex: 1;
            position: relative;
            display: flex;
            justify-content: center; /* Center the image horizontally */
            align-items: center; /* Center the image vertically */
            text-align: center;
            order: 2; 
            padding-left: 30px;
            margin-top: 50px;
            width: 100%; /* Ensure the image container takes full width */
        }
        .experience-title::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -7px;
            width: 33%;
            height: 3px;
            background-color: #165956;
        }
        .subtract2-image {
            height: auto;
            width: 340px;
            max-width: 450px;
            transform: translateY(30px); 
            transform: translateX(-32.5%); 
        }
        .experience-list {
            font-size: 20px;
            color: #124846;
            list-style: none;
            padding: 0;
        }
    
        .experience-photo {
            position: relative;
            z-index: 2; 
            width: 100%;
            max-width: 390px;
            height: auto;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transform: translateY(-51px); 
            transform: translateX(-10%); 
        }
    
        .experience-text {
            padding-left: 25px; 
            padding-right: 20PX;
        }
        .experience-title {
            font-size: 30px;
            padding-left: 0px;
            margin-left: 0px;
        }
        .experience-item-title {
            font-size: 20px; /* Larger size for the first line */
        }
    }
    @media screen and (min-width: 404px) and (max-width: 470px) {
        .experience-section {
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
        }
    
        .experience-container {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
            gap: 30px;
            padding-bottom: 50px;
            padding-left: 0px;
            font-family: "Raleway", sans-serif;
            width: 100%; /* Ensure the container takes full width */
        }
        .experience-image {
            flex: 1;
            position: relative;
            display: flex;
            justify-content: center; /* Center the image horizontally */
            align-items: center; /* Center the image vertically */
            text-align: center;
            order: 2; 
            padding-left: 30px;
            margin-top: 50px;
            width: 100%; /* Ensure the image container takes full width */
        }
        .experience-title::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -7px;
            width: 33%;
            height: 3px;
            background-color: #165956;
        }
        .experience-list li::before {
            content: "›"; /* Arrow symbol (you can use other symbols or Unicode) */
            font-size: 30px;
            font-weight: bold;
            color: #165956; /* Match your design color */
            position: absolute;
            left: 0;
            top: -10%;
        }

    
        .subtract2-image {
            height: auto;
            width: 220px;
            max-width: 350px;
            transform: translateY(30px); 
            transform: translateX(-32.5%); 
        }
        .experience-list {
            font-size: 20px;
            color: #124846;
            list-style: none;
            padding: 0;
        }
    
        .experience-photo {
            position: relative;
            z-index: 2; 
            width: 100%;
            max-width: 260px;
            height: auto;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transform: translateY(-51px); 
            transform: translateX(-10%); 
        }
    
        .experience-text {
            padding-left: 0px; 
            padding-right: 20PX;
        }
        .experience-title {
            font-size: 25px;
            padding-left: 0px;

        }
        .experience-item-title {
            font-size: 20px; /* Larger size for the first line */
        }

    }
    @media screen and (min-width: 365px) and (max-width: 404px) {
        .experience-section {
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
        }
    
        .experience-container {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
            gap: 30px;
            padding-bottom: 50px;
            padding-left: 0px;
            font-family: "Raleway", sans-serif;
            width: 100%; /* Ensure the container takes full width */
        }
        .experience-image {
            flex: 1;
            position: relative;
            display: flex;
            justify-content: center; /* Center the image horizontally */
            align-items: center; /* Center the image vertically */
            text-align: center;
            order: 2; 
            padding-left: 30px;
            margin-top: 50px;
            width: 100%; /* Ensure the image container takes full width */
        }
        .experience-title::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -7px;
            width: 33%;
            height: 3px;
            background-color: #165956;
        }
        .experience-list li::before {
            content: "›"; /* Arrow symbol (you can use other symbols or Unicode) */
            font-size: 30px;
            font-weight: bold;
            color: #165956; /* Match your design color */
            position: absolute;
            left: 0;
            top: -10%;
        }

    
        .subtract2-image {
            height: auto;
            width: 220px;
            max-width: 350px;
            transform: translateY(30px); 
            transform: translateX(-32.5%); 
        }
        .experience-list {
            font-size: 15px;
            color: #124846;
            list-style: none;
            padding: 0;
        }
    
        .experience-photo {
            position: relative;
            z-index: 2; 
            width: 100%;
            max-width: 260px;
            height: auto;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transform: translateY(-51px); 
            transform: translateX(-10%); 
        }
    
        .experience-text {
            padding-left: 0px; 
            padding-right: 20PX;
        }
        .experience-title {
            font-size: 20px;
            padding-left: 0px;

        }
        .experience-item-title {
            font-size: 15px; /* Larger size for the first line */
        }


    }
    @media screen and (min-width: 100px) and (max-width: 365px) {
        .experience-section {
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
        }
    
        .experience-container {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
            gap: 30px;
            padding-bottom: 50px;
            padding-left: 0px;
            font-family: "Raleway", sans-serif;
            width: 100%; /* Ensure the container takes full width */
        }
        .experience-image {
            flex: 1;
            position: relative;
            display: flex;
            justify-content: center; /* Center the image horizontally */
            align-items: center; /* Center the image vertically */
            text-align: center;
            order: 2; 
            padding-left: 30px;
            margin-top: 50px;
            width: 100%; /* Ensure the image container takes full width */
        }
        .experience-title::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -7px;
            width: 33%;
            height: 3px;
            background-color: #165956;
        }
    
        .subtract2-image {
            height: auto;
            width: 200px;
            max-width: 350px;
            transform: translateY(30px); 
            transform: translateX(-32.5%); 
        }
    
        .experience-photo {
            position: relative;
            z-index: 2; 
            width: 100%;
            max-width: 240px;
            height: auto;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transform: translateY(-51px); 
            transform: translateX(-10%); 
        }
    
        .experience-text {
            padding-left: 0px; 
            padding-right: 15px;
        }
        .experience-title {
            font-size: 20px;
            padding-left: 0px;
        }
        .experience-list {
            font-size: 18px;
            color: #124846;
            list-style: none;
            padding: 0;
        }
        .experience-item-title {
            font-size: 15px; /* Larger size for the first line */
        }
        .experience-list li::before {
            content: "›"; /* Arrow symbol (you can use other symbols or Unicode) */
            font-size: 20px;
            font-weight: bold;
            color: #165956; /* Match your design color */
            position: absolute;
            left: 0;
            top: -4%;
        }

    }